.votes form {
	display:inline-block;
}

.imageMeta {
	display:none;
	position:absolute;
	left:0px;
	right:0px;
	background-color: rgba(0,0,0,0.8);	
	color:#FFF;
}

.imageMeta .votes {
	height:30px;
}

.imageMeta .votes span {
	position:relative;
	padding:5px;
	top:5px;
}

.imageMeta .votes span:hover {
	background-color:rgba(0,100,200,0.2);
}

.imageMeta .user {
	position: absolute;
	right: 5px;
	bottom: 0px;
	padding: 6px;
}

.imageMeta .user a {
	color: #0AF;
}

.image {
	position: relative;
	margin:20px 0px -15px 0px;
	width: 100%;
}

.image img {
	width: 100%;
}

.imageTitle {
	font-size: 30px;
}

.imagePoints {
	position: relative;
	float: right;
	bottom: 3px;
	color: #FFF;
}

.imageMetadata {
	position: relative;
	font-size:14px;
	color: #999;
}

.dateCreated {
	position: absolute;
	right: 0px;
	top:0px;
}

.tags a {
	padding:0px 5px;
	border-radius:3px;
}

.tags a:hover {
	background-color:#069;
	color:#FFF;
}

.mainContent {
	margin: 0 auto;
	width: 1000px;
}

.commentArea {
	margin-bottom: 40px;
	width: 100%;
	background-color: #222;
	color: #FFF;
}

.commentAreaWrapper {
	padding:20px;
}

.comment {
	position: relative;
	margin-top: 10px;
}

.comment .body {
	width: 100%;
	font-size: 18px;
}

.comment .button {
	display: none;
	position: absolute;
	width: 5%;
	bottom: -2px;
	right: 0px;
}

.comment input {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

.comment .meta {
	font-size: 14px;
	color: #999;
}

#username{
	color: #6AF;
}



.comment .votes {
	position: relative;
	bottom: 3px;
	float: right;
}

.voteBar {
	width: 100%;
	background-color: #A00;
}

.upvotes {
	width: 99.4%;
	height: 2px;
	background-color: #0A0;
}