.mainContent {
	margin: 20px auto;
	width: 1000px;
	background-color: #222;
}

.mainContentWrapper {
	padding: 10px 0px 20px 0px;
	text-align: center;
}

.mainContentWrapper .image img
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 300px;
	z-index: 5;
}

.sort {
	background-color: #0A0A0A;
	color: #FFF;
	text-align: center;
}

.sortItem {
	display: inline-block;
	padding: 20px;
}

.sortItem:hover {
	background-color: #069;
	cursor: pointer;
}

.sortItem:active {
	background-color: #058;
}

.image {
	position: relative;
	display: inline-block;
	margin: 10px 10px 0px 10px;
	width: 300px;
	height: 300px;
	vertical-align: top;
	background-color: #000;
	z-index: 20;
}

.mainContent .image .metaBox {
	position: relative;
	display: none;
	width: 100%;
	z-index: 25;
	text-align: left;
}

.mainContent .image .metaBox div { 
	position: relative;
	box-sizing: border-box;
	padding: 2px 8px;
   	width: 100%;
   	color: #FFF; 
   	background-color: rgba(0, 0, 0, 0.8);
   	font-size: 18px;
   	z-index: 26;
}

.mainContent .image .metaBox form { 
	display:inline-block;
	z-index: 27;
	float:right;
}

.mainContent .image .metaBox form span { 
	padding-left:5px;
}

.mainContent .image .metaBox a { 
	color: #0AF;
	padding-right:10px;
}

.mainContent .image .metaBox div#info {
	background-color: rgba(0,0,0,0.9);
	font-size: 12px;
}

.pages {
	position: relative;
	background-color:#111;
	width:100%;
	text-align:center;
}

.page {
	position: static;
	display:inline-block;
	background-color:#069;
	color: #FFF;
	padding:10px 20px;
	
}

.page:hover {
	background-color: #09F;
	cursor: pointer;
}

.page#active {
	background-color: #90F;
}