.dropMenuWrapper {
	position:relative;
}

.dropMenuWrapper img {
	position: absolute;
	height: 100%;
	top:-10px;
	left:80px;
}

.alert {
	padding:10px 0px;
	display:none;
}

.alert#error {
	color:#C00;
}

.alert#success {
	color:#0C0;
}