@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);

@font-face {
    font-family: "OrangeJuice";
    src: url("lsr.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: Play, Arial, Ubuntu;
	
}

body {
	margin: 0 auto;
	width: 100%;
	background-color: #CCC;
}

img {
	z-index:0;
}

input {
	padding: 13px;
	width:250px;
	font-size: 16px;
	background-color: #222;
	color: #FFF;
	border: none;
}

input:focus {
	background-color: #333;
}

button {
	border: none;
}

a:link, a:hover, a:visited {
	color: inherit;
	text-decoration: inherit;
}

hr {
	border:none;
	border-top:thin solid rgba(255,255,255,0.1);
}

header {
	width: 100%;
	background-color:#080808;
	color: #FFF;
	box-shadow: 0px 1px 3px #666;
}

.headerContainer {
	position:relative;
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}

.random {
	position: absolute;
	left: 140px;
	padding:7px 10px;
}

.random img {
	position:relative;
	top:2px;
}

.random:hover {
	background-color:#069;
}

.random:active {
	background-color:#036;
}

.search form input {
	box-sizing: border-box;
	background-color:#111;
	position: absolute;
	right:170px;
	width: 150px;
	height: 50px;
}

.search form input:focus {
	background-color:#222;
}

.button {
	display: inline-block;
	padding: 12px;
	font-size:18px;
	background-color: #069;
	color:#FFF;
}

.button#login {
	box-sizing: border-box;
	position: absolute;
	right:91px;
	height:50px;
}

.button#register {
	box-sizing: border-box;
	position: absolute;
	right:0px;
	height:50px;
}

.button:hover {
	cursor: pointer;
	background-color: #08A;
}

.button:active {
	background-color: #148;
	border: none;
}

.button#submit {
	width: 50px;
	height: 50px;
}

.wto {
	font-family:"OrangeJuice", Play, Arial;
	display: inline-block;	
	padding: 5px;
	margin: 3px 0px;
	font-weight: 700;
	font-size: 28px;
	color: #FFF;
	background-color: #066;
	letter-spacing:2px;
}

.imager {
	position: relative;
	top: -2px;
	font-family:"OrangeJuice", Play, Arial;
	display: inline-block;
	font-size: 22px;
}

.logo {
	position: absolute;
	top:0px;
	left:0px;
	padding:0px 5px;
}

.logo:hover {
	background-color:#222;
}

.buttonArea {
	position:absolute;
	right:0px;
}

.syntax {
	box-sizing: border-box;
	display:none;
	position:absolute;
	top:50px;
	right:170px;
	border-top:#636 thick solid;
	width:500px;
	padding:10px;
	font-size:12px;
	background-color:rgba(0,0,0,0.9);
	z-index:42;
	color:#888;
}

.syntax .helpItem .white {
	color: #FFF;
}

.syntax .helpItemWrapper {
	display:inline-block;
	width:49.5%;
}

.syntax .helpItemWrapper:nth-child(1), .syntax .helpItemWrapper:nth-child(2) {
	padding-bottom:10px;
}

.syntaxTitle {
	font-size:24px;
	text-align:right;
	color:#AAA;
	padding-top:10px;
}

.dropMenu input[type=password] {
	width: 200px;
}

.dropMenu {
	display: none;
	margin: 0 auto;
	padding-top:20px;
	width: 1000px;
	background-color: #111;
	text-align: right;
}

.dropMenuWrapper {
	padding: 20px;
}

.dropMenu .title {
	font-size: 42px;
	color: #FFF;
}

.dropMenu input {
	margin-top: 10px;
}

#upvote {
	color: #6A6;
}

#downvote {
	color: #A66;
}

#upvote:hover {
	text-shadow:0px 0px 2px #6A6;
	cursor: pointer;
}

#downvote:hover {
	text-shadow:0px 0px 2px #A66;
	cursor: pointer;
}

.siz {
	color:#930;
}