.titleMeta form {
	display:inline-block;
}

.mainContent {
	margin:20px auto;
	width: 1000px;
	color: #FFF;
	background-color: #222;
}

.mainContentWrapper {
	padding: 20px;
}

.userMetaDataWrapper {
	position: absolute;
	width: 100%;
	height: 150px;
	background-image: url(userHeader.png);
	background-repeat: repeat;
	z-index: 60;
	opacity: 0.6;
}

.username {
	padding:30px 20px;
	position: relative;
	width: 100%;
	z-index: 62;
}

.username .mainPoints {
	font-size:24px;
	position: absolute;
	display:inline-block;
	right:80px;
	top:38px;
}

.username .mainPoints .number {
	font-size:36px;
}

.username .mainPoints .number#blue {
	color: #09F;
	font-size:36px;
	margin-left:20px;
}

.userMetaData {
	position: relative;
	font-size: 14px;
}

.userMetaData img {
	position: absolute;
	width:100%;
	top: -200px;
	clip: rect(200px, 1000px, 350px, 0px);
	z-index: 1;
}

.metaDataWrapper {
	position:relative;
	top:2px;
	width:100%;
	padding-left:20px;
	box-sizing: border-box;
	z-index: 60;
}

.metaItem {
	display: inline-block;
	padding: 5px 20px;
	color: #FFF;
	font-size: 20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.metaItem:hover {
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
	cursor: pointer;
}

.userMetaData .username {
	font-size: 40px;
}

.userMetaData .siz, .titleSiz {
	font-size: 20px;
	font-weight: bolder;
	color: #C00;
}

.userMetaData .siz {
	vertical-align: -4px;
}

.userMetaData .number {
	font-size: 26px;
	color:#0C0;
	vertical-align: middle;
	
}

.separator {
	width: 100%;
	height: 10px;
	background-color: #333;
}

.image {
	padding: 20px 0px;
}

.image .content {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #000;
}

.image img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 200px;
}

#user .title {
	position: relative;
	display: inline-block;
	margin-left: -5px;
	padding: 10px 10px 40px 10px;
	min-height: 150px;
	width: 715px;
	font-size: 18px;
	background-color: #333;
	vertical-align: top;
}

.titleMeta {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 12px;
}

.points {
	position: absolute;
	font-size: 16px;
	bottom: 5px;
	left: 15px;
}

.points .numberOfPoints {
	color: #0A0;
}

.contentTitle {
	font-size: 34px;
}

#user .comments {
	display:none;
}



.followButton {
	display:inline-block;
	font-size: 16px;
	vertical-align: middle;
	padding:5px 20px;
	background-color: #069;
}

.followButton:hover {
	cursor:pointer;
	background-color: #09F;
}

.followButton:active {
	background-color: #069;
}