
.mainContent {
	margin: 20px auto;
	width: 1000px;
	background-color: #222;
}

.mainContentWrapper {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 20px;
}

.mainContentWrapper .image img
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 300px;
	z-index: 5;

}

.image {
	background-color: #000;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 10px 10px 0px 10px;
	vertical-align: top;
}

.mainContent .image .title {
	display: none;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	z-index: 25;
	text-align: left;
}

.mainContent .image .title span { 
   color: #FFF; 
   background: rgba(0, 0, 0, 0.8);
   padding: 10px; 
   font-size: 18px;
}
